<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});

function drawChart() {
    var data = google.visualization.arrayToDataTable([
          ['Jaar', 'Aantal'],
          {% for k, v in data %}
          ['{{k}}', {{v}}],
          {% endfor %}
    ]);

    var options = {
          title: 'Distributie per jaar',
          legend: { position: "none" }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
}
</script>
<div id="chart_div" style="width: 900px; height: 500px;"></div>
