<script>
    $(document).ready(function() {
        $('#distances').DataTable({
            "order": [[ 2, "asc" ]]
        });
    });
</script>
<table id="distances" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Compositie 1</th>
            <th>Compositie 2</th>
            <th>Afstand</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        {% for d in distances %}
        <tr>
            <td>{{ d.game1 }}</td>
            <td>{{ d.game2 }}</td>
            <td>{{ d.distance }}</td>
            <td><a href="{{ url_for('distance', distance_id=d.id) }}">Bekijk</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>