<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>PDN Checker</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="http://toernooibase.kndb.nl/applet/oerterpapplet2.0/themes/jquery.contextMenu.css" type="text/css"  />
    <link rel="stylesheet" href="http://toernooibase.kndb.nl/applet/oerterpapplet2.0/themes/hv.jquery.view.css" type="text/css" />  
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type='text/javascript' src="http://toernooibase.kndb.nl/applet/oerterpapplet2.0/js/ui/jquery.easing.1.3_min.js"></script>
    <script type="text/javascript" src="http://toernooibase.kndb.nl/applet/oerterpapplet2.0/js/ui/jquery.contextMenu_min_2.3.0.js"></script>
    <script type="text/javascript" src="http://toernooibase.kndb.nl/applet/oerterpapplet2.0/js/dcoerterp_view-2.3.6.js"></script>
    <script type="text/javascript" src="http://www.enschedesedamclub.nl/oerterpapplet2.0/js/dambord.js"></script>
    
    <script> $(function() {
    AddDambord_pdnstring("Diagram_1", {{ game | tojson }});
    });</script> 
</head>
<body>
    <h1>PDN Checker</h1>
    <div id="Diagram_1"></div>
</body>
</html>
